header {
    background-color: rgb(28, 95, 8);
    justify-content: space-between;
    
}

.header--tittle{
    color: white;
}

a {
    text-decoration: none;
}

.nav{
    display: flex;
    color: white;
    justify-content: space-evenly;
}
.nav--link{
    display: flex;
    color: white;
    list-style: none;
}

.link {
    text-decoration: none;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    article {
        text-align: center;
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: #f5f5f5;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgb(28, 95, 8);
        transition: all 0.3s ease;

        &:hover{
            transform: scale(1.1);
        }
    }
}

.footer{
    display: flex;
    background-color: rgb(28, 95, 8);
    text-align: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

.itemDetail{
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1.4fr 0.6fr;
    grid-auto-columns: 1fr;grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:"imagen titulo";

    .imagen {display: flex;
        justify-content: center;
        align-items: center;grid-area: imagen;width: 35vw;height:30vh;background-color: bisque;font-size: 1rem;
    }
    
    .titulos {grid-area: titulo;
        margin: 1rem;
        h3{font-size: 2rem;}
        p{margin-top: 1rem;font-size: 1.5rem;}
    }

    .descripcion { grid-area: descripcion;
        font-size: 1rem;
        margin-top: 1rem;}
    }

.imagen-juego{
    width: 20vh;
    height: 25vh;
}

.imagen-juego-detalle{
    width: 30vh;
    height: 35vh;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : auto;
    margin-top: 5rem;
    width: 30vw;
    height: 30vh;
    background-color: bisque;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(28, 95, 8);
    transition: all 0.3s ease;
    padding: 1rem;
}

